---
title: Austen Lamacraft
layout: layouts/home.njk
description: Austen Lamacraft's site
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
eleventyExcludeFromCollections: true
---

<div id="posts">
  <h2>Latest stuff</h2>
  {% set postslist = collections.recent %}
  {% include "postslist.njk" %}
</div>