---
layout: layouts/base.njk
title: Publications
templateClass: tmpl-post
eleventyNavigation:
  key: Publications
  order: 7
---

<dl>
{% for pub in arxiv | reverse %}
  <dt>
  <h4><a href="{{ pub.url | url }}">{% if pub.data.title %}{{ pub.data.title }}{% else %}<code>{{ pub.url }}</code>{% endif %}</a></h4>
  <h5> {{ pub.data.author | join(', ') }} (<time  datetime="{{ pub.date | htmlDateString }}">{{ pub.date | readableDate }}</time>)</h5>  
  </dt>
  <dd>
    {{ pub.data.summary | truncate }}
  </dd>
{% endfor %}
</dl>
