---
layout: layouts/base.njk
title: Publications
templateClass: tmpl-post
eleventyNavigation:
  key: Publications
  order: 7
---

<dl>
{% for pub in arxiv %}
  <dt>
  <h4><a href="{{ pub.id | url }}">{% if pub.title %}{{ pub.title }}{% else %}<code>{{ pub.link }}</code>{% endif %}</a></h4>
  <h5> {{ pub.author | join(', ') }} (<time  datetime="{{ pub.published | htmlDateString }}">{{ pub.published | readableDate }}</time>)</h5>  
  </dt>
  <dd>
    {{ pub.summary[0] | truncate }}
  </dd>
{% endfor %}
</dl>
